/* ABOUT BANNER */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap'); */

.about-container {
  margin: 0;
  padding: 0;
  background: rgb(243, 246, 250);
}
.about-banner-container {
  height: 86.2vh;
  width: 100%;
  padding-top: 13.8vh;
  display: flex;
  flex-direction: column;
}
.about-top {
  height: 40%;
}
.about-bottom {
  height: 60%;
  background: rgb(66, 144, 194);
}
.about-bottom-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
}
.about-bottom-left-title {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin-left: 150px;
}
.about-bottom-left-content {
  font-size: 16px;
  color: white;
  width: 29vw;
  font-weight: 300;
  margin-left: 150px;
}

/* ABOUT WHAT WE DO */

.about-what-container {
  height: 51.72vh;
  width: 100%;
  background-color: rgb(4, 64, 102);
  display: flex;
  flex-direction: row;
}
.about-what-bottom-left {
  width: 50%;
}
.about-what-bottom-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-what-bottom-left-title {
  margin-left: 50px;
  font-size: 20px;
  color: white;
  font-weight: 500;
}
.about-what-bottom-left-content {
  margin-left: 50px;
  font-size: 16px;
  font-weight: 300;
  color: white;
  width: 27.8vw;
}

/* DIRECTORS */

.about-director-container {
  height: 86.2vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.director-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgb(55, 63, 65);
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 50px;
}
.director-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.director-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  width: 13vw;
  padding: 1px 40px 10px 40px;
  border-radius: 10px;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 0.4);
}
.director-card-img {
  background-color: rgb(165, 142, 142);
  border-radius: 50px;
}
.director-card-img > img {
  border-radius: 50px;
}
.director-card-name {
  font-weight: 600;
  padding: 10px;
  color: rgb(55, 63, 65);
  font-size: 18px;
  height: 20px;
  margin-top: -10px;
}
.director-card-role {
  font-weight: 400;
  font-size: 15px;
  color: rgb(79, 84, 85);
}
.director-card-detail {
  font-size: 13px;
  text-align: center;
  color: rgb(151, 151, 151);
}

/* TEAM */

.about-team-container {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.about-team-title {
  display: flex;
  justify-content: center;
  font-size: 30px;
  color: rgb(55, 63, 65);
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 50px;
}
.team-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
