.booking-head {
  margin-left: 300px;
  margin-right: 35px;
  border-bottom: 1px solid rgb(107, 109, 104);
  padding: 30px;
  padding-bottom: 10px;
  font-size: 20px;
  color: rgb(107, 109, 104);
}
.appointment-container {
  margin: 10px;
  margin-left: 300px;
  width: 50%;
  /* margin-right: 35px; */
  background-color: rgb(249, 249, 249);
  padding-bottom: 40px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 15px;
}
.schedule-main {
  margin: 10px;
  /* background-color: aqua; */
  width: 35%;
}
.booking-main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.appointment-header {
  color: rgb(107, 109, 104);
  /* padding: 10px; */
  padding-left: 30px;
}
.appointment-table {
  border-spacing: 0 15px;
  border-radius: 10px;
  margin-top: -3%;
}
.appointment-table-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
table {
  width: 100%;
  padding: 10px;
  color: rgb(107, 109, 104);
}
.appointment-arrow {
  display: flex;
  flex-direction: column;
}
td {
  padding: 20px;
}
/* tr:first-child td.div {
  display: flex;
  flex-direction: row;
} */
.table-first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.appointment-row {
  background-color: white;
  margin-top: 10px;
  padding: 20px;
  box-shadow: 0 4px 5px rgb(0 0 0 / 0.5);
}

/* tr:hover {
  background: rgb(171, 145, 183);
  background: linear-gradient(
    0deg,
    rgba(171, 145, 183, 1) 0%,
    rgba(244, 134, 209, 1) 100%
  );
  cursor: pointer;
} */

.table-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.table-image {
  height: 30px;
  width: 30px;
  background-color: rgb(248, 222, 165);
  border-radius: 5px;
  margin-right: 4px;
}
tr:hover {
  outline: 2px solid rgb(141, 242, 139);
}
tr {
  border-radius: 10px;
}
tr:first-child {
  outline: none;
}

tr > td:first-child {
  border-top-left-radius: 10px;
}

tr > td:last-child {
  border-top-right-radius: 10px;
}
tr > td:first-child {
  border-bottom-left-radius: 10px;
}
tr > td:last-child {
  border-bottom-right-radius: 10px;
}
.table-sort {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.3);
  height: 30px;
  width: 35px;
  /* pointer-events:  */
  cursor: pointer;
  margin-left: 10px;
}
.table-clock {
  height: 20px;
  width: 20px;
  color: rgb(141, 242, 139);
}

.schedule-option {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: aqua;
  height: 100px;
  margin: 1vw 1.2vw 1vw 1.2vw;
  background: rgb(124, 44, 205);
  background: linear-gradient(
    0deg,
    rgba(124, 44, 205, 1) 0%,
    rgba(246, 174, 92, 1) 100%
  );
  border-radius: 10px;
}
.schedule-option-main {
  display: flex;
  justify-content: center;
  background-color: rgb(221, 175, 184);
  border-radius: 8px;
  padding: 8px 8px 8px 8px;
  box-shadow: 0 1px 2px rgb(0 0 0 / 0.3);
  align-items: center;
  margin-top: 20px;
}
.schedule-option-icon {
  height: 35px;
  width: 40px;
  color: white;
}
.schedule-option-line {
  width: 1px;
  height: 80%;
  display: flex;
  align-items: center;

  background-color: white;
}
.schedule-option-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.schedule-option-outer > p {
  margin-top: 10px;
  font-weight: 500;
  color: white;
  font-size: 14px;
}

.book-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(173, 252, 157);
  background: linear-gradient(
    90deg,
    rgba(173, 252, 157, 1) 0%,
    rgba(12, 115, 229, 1) 87%
  );
  height: 100px;
  margin: 1vw 1.2vw 1vw 1.2vw;
  border-radius: 6px;
}
.book-main > p {
  margin: 0;
  font-size: 26px;
  color: white;
  font-weight: 500;
}

/* Calender */

.date-container {
  display: flex;
  justify-content: space-evenly;
  /* width: 100%; */
}
.react-datepicker {
  background-color: rgb(86, 51, 185);
}

.react-datepicker__header {
  background-color: rgb(86, 51, 185);
}
.react-datepicker__month-container {
  width: 25vw;
}
.react-datepicker__current-month {
  color: white;
  font-weight: bold;
  font-size: large;
}
.react-datepicker__day-name {
  color: white;
  font-weight: bold;
  font-size: 14px;
}
.react-datepicker__day {
  color: white;
  font-weight: bold;
  font-size: 13px;
}
.react-datepicker__navigation--previous {
  left: 15px;
}
.react-datepicker__navigation--next {
  right: 40px;
}
.react-datepicker__day--keyboard-selected {
  background-image: url("../images/calendar1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* .react-datepicker__input-container {
  display: flex;
  justify-content: center;
} */
/* .react-datepicker__time-list {
  display: flex;
  flex-direction: row;
}
.react-datepicker__time-container {
  width: 27vw;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 27vw;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list{
  height: calc(50px + (1.7rem / 2));
  overflow-y:hidden;
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
  padding: 30px 10px;
}
.react-datepicker .react-datepicker--time-only {
  display: flex;
  justify-content: center;
} */

.time-container {
  /* background-color: aqua; */
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin: 5px 20px 5px 20px;
  position: relative;
}

.rec.rec-arrow {
  background-color: rgb(185, 108, 210);
}
.rec-dot {
  display: none;
}
.rec {
  /* z-index: 9; */
}
/* .appointment-main{
  display: flex;
  justify-content: center;
  align-items: center;
} */

.time-container-inner {
  margin-top: -10px;
  padding-top: 10px;
  height: 50px;
  background: rgb(202, 122, 122);
  position: absolute;
  /* opacity: 0.7; */
  z-index: 9;
}
.time-div {
  padding: 15px 5px 15px 5px;
  margin: 2px;
  background-image: url('../images/prescrp.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
}
.time-top {
  padding: 15px 5px 15px 5px;
  margin: 2px;
  background-image: url('../images/download.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 8px;
}

.rec-carousel-item:focus {
  outline: none;
  box-shadow: inset 0 0 1px 0px violet;
}

@media screen and (max-width: 1200px) {
  .booking-main {
    flex-direction: column;
    justify-content: center;
    margin-right: 35px;
  }
  .appointment-container {
    width: 72%;
    /* margin-right: 35px; */
  }
  .schedule-main {
    display: flex;
    flex-direction: row;
    /* justify-content: space-e; */
    margin-left: 300px;
  }
  .schedule-option {
    width: 41vw;
  }
  .schedule-option-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100%;
  }
  .time-container {
    margin: 2vw -35vw 1vw 10vw;
  }
}

@media screen and (max-width: 1010px) {
  .appointment-container {
    margin-left: 275px;
  }
  .schedule-main {
    margin-left: 275px;
  }
}
@media screen and (max-width: 950px) {
  .appointment-container {
    transform: scale(0.5);
  }
  .schedule-option-1 {
    width: 40vw;
  }
}
@media screen and (max-width: 800px) {
  .appointment-container {
    margin: -4% 0 -4% 0;
    width: 100vw;
    transform: scale(0.8);
  }
  .appointment-table{
    margin-top: -7%;
    margin-bottom: -8%;
  }
  table {
    margin-top: -5vh;
    transform: scale(0.9);
  }
  .booking-head {
    margin-left: 35px;
  }
  .schedule-main {
    margin-left: 7vw;
    margin-right: 5vw;
  }
  .schedule-option {
    width: 45vw;
  }
  .react-datepicker__month-container {
    width: 40vw;
  }
}
@media screen and (max-width: 650px) {
  /* .book-main{
    display: flex;
    flex-direction: column; 
    justify-content: center
  } */
  .appointment-table{
    margin-top: -10%;
    margin-bottom: -8%;
  }
  .date-container {
    display: flex;
    justify-content: center;
    margin-right: 2.5vw;
  }
  .schedule-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .appointment-container {
    width: 100vw;
  }
  .schedule-option {
    width: 86vw;
  }
  .schedule-option-1 {
    width: 88vw;
  }
  .time-container {
    margin: 0 5vw 0 0;
  }
  .react-datepicker__month-container {
    width: 70vw;
  }
  table {
    transform: scale(0.85);
    margin: -8vh -5vw -8vh 0;
  }
}
@media screen and (max-width: 570px) {
  .appointment-container {
    width: 100vw;
  }
  .appointment-table{
    margin-top: -14%;
    margin-bottom: -13%;
  }
  table {
    transform: scale(0.85);
    margin: -10vh -5vw -8vh -4vw;
  }
}
@media screen and (max-width: 530px) {
  .appointment-container {
    width: 100vw;
  }
  table {
    transform: scale(0.8);
    margin: -12vh 0 -13vh -8vw;
  }
}
@media screen and (max-width: 490px) {
  .appointment-container {
    width: 100vw;
  }
  .appointment-table{
    margin-top: -18%;
    margin-bottom: -19%;
  }
  table {
    transform: scale(0.7);
    margin: -15vh 0 -14vh -13vw;
  }
}
@media screen and (max-width: 450px) {
  .appointment-container {
    width: 100vw;
  }
  .appointment-table{
    margin-top: -28%;
    margin-bottom: -29%;
  }
  table {
    transform: scale(0.6);
    margin: -18vh 0 -18vh -20vw;
  }
}
@media screen and (max-width: 400px) {
  .appointment-container {
    width: 100vw;
  }
  table {
    transform: scale(0.5);
    margin: -18vh 0 -18vh -34vw;
  }
  .appointment-table{
    margin-top: -38%;
    margin-bottom: -44%;
    /* margin-left:-32vw; */
  }
}

@media screen and (max-width: 400px) {
  .appointment-container {
    width: 100vw;
  }
  table {
    transform: scale(0.54);
    margin: -18vh 0 -18vh -38vw;
  }
  .appointment-table{
    margin-top: -35%;
    margin-bottom: -37%;
    margin-left:-25vw;
  }
}
@media screen and (max-width: 365px) {
  .appointment-container {
    width: 100vw;
  }
  table {
    /* transform: scale(0.49); */
    margin: -18vh 0 -18vh -38vw;
  }
  .appointment-table{
    margin-top: -40%;
    margin-bottom: -43%;
    margin-left:-35vw;
  }
}