/* CONTACT CONTAINER */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100&display=swap'); */

.contact-us-container {
  /* font-family: 'Poppins' sans-serif; */
  margin: 0;
  padding: 0;
  background: rgb(243, 246, 250);
  width: 100%;
  overflow-x: hidden;
}
.contact-main-container {
  padding-top: 13.8vh;
  height: 86.2vh;
  
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-submain-container {
  display: flex;
  flex-direction: row;
  height: 75vh;
  width: 80vw;
}
.contact-left {
  background-color: #fff;
  
  width: 95%;
  height: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
}
.contact-left-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 40px;
}
.contact-left-subtitle {
  display: flex;
  flex-direction: column;
}
.contact-left-title {
  font-size: 30px;
  font-weight: 600;
  color: rgb(4, 64, 102);
  height: 55px;
}
.contact-left-subtitle {
  color: rgb(4, 64, 102);
  font-weight: 400;
}
.contact-left-subtitle > input {
  border: none;
  outline: none;
  border-radius: 10px;

  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 30px;
  padding: 13px;
  background-color: rgb(243, 246, 250);
}
.contact-left-subtitle > textarea {
  border: none;
  outline: none;
  border-radius: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 30px;
  padding: 13px;
  background-color: rgb(243, 246, 250);
}


/* CONTACT IMAGE SIDE */

.contact-left-right {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.contact-left-right-top {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

.contact-left-right-bottom {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
}
.contact-access {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-access > p {
  font-size: 17px;
  font-weight: 600;
  color: rgb(4, 64, 102);
  margin-left: 30px;
}

/* CONTACT SOCIAL ICON */

.contact-right {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  background-color: rgb(4, 64, 102);
  height: max-content;
  width: max-content;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.contact-right-icon {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 1100px) {
  .contact-submain-container {
    width: 94vw;
  }
}
@media only screen and (max-width: 925px) {
  
  .contact-submain-container {
    transform: scale(0.8);
    width: 117vw;
  }
  .contact-main-container{
    margin-left: -7vw;
    
    width: max-content;
    height: max-content;
  }
}
@media only screen and (min-width: 751px) {
.contact-left-right-top-img{
display: none;
}
}
@media only screen and (max-width: 750px) {
  .contact-main-container{
    height: max-content;
    margin-bottom: -70px;
  }
  .contact-left-right-top-img{
  display:contents;
  width: 100%;
  transform: scale(0.95);
  margin-left: -5vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  }
  .contact-left-right-top{
    display: none;
  }
  .contact-submain-container{
    height: max-content;
  }
  .contact-left{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -125px;
    /* width: 100%; */

  }
  .contact-right{
    display: none;
  }
  .contact-left-left{
    width: 90%;
  }
  .contact-left-right{
    width: 85%;
    flex-direction: column;
    align-items: flex-start;
  }
  }