.navbar-main {
  margin-left: 300px;
  display: flex;
  justify-content: space-between;
}
.navbar-text {
  color: rgb(107, 109, 104);
  padding: 15px;
}
.navbar-icon {
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-icon-inner {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px;
  height: 20px;
  width: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}
.sliderimg {
  width: 100%;
  height: 280px;
  /* object-fit: cover; */
  border-radius: 20px;
}
.banner-main {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-left: 300px;
  margin-right: 35px;
  border-radius: 20px;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  padding: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.silderimg-container {
  height: 280px;
}

.navbar-menu-inner {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 10px;
  height: 20px;
  width: 20px;
  padding: 10px;
  cursor: poi nter;
  border-radius: 15px;
  transition: 850ms;
}
.options-main {
  display: flex;
  flex-direction: row;
  /* width: 78%; */
  justify-content: space-evenly;
  align-items: center;
  margin-left: 300px;
  margin-right: 35px;
  margin-top: 20px;
}
.options-main-1 {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-evenly;
}
.option {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  padding: 30px 50px 30px 30px;
  margin: 10px 10px;
  width: 78%;

  border-radius: 8px;
  font-weight: bold;
  color: white;
}
.service {
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.5);
  width: 45%;
  height: 40px;
  background-image: url("../images/service1.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.booking {
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.5);
  width: 45%;
  height: 40px;
  background-image: url("../images/booking.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.prescription {
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.5);
  width: 45%;
  height: 40px;
  background-image: url("../images/prescrp.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.download {
  box-shadow: 0 3px 20px rgb(0 0 0 / 0.5);
  width: 45%;
  height: 40px;
  background-image: url("../images/download.jpg");
  background-repeat: no-repeat;
  background-size: 101% 100%;
}

.dash-footer-main {
  margin-left: 300px;
  margin-right: 35px;
  margin-top: 20px;
  height: 120px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(205,156,242); */
  /* background-image: url('../images/footer1.png'); */
  /* font-weight: bold; */
  color: white;
  margin-bottom: 10px;
}
.footer-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  font-size: 25px;
  margin-top: 5px;
}
.footer-text > p {
  margin-top: -15px;
}

.footer-image {
  height: 29.5vh;
  width: 80vw;
  margin-top: -55px;
  margin-left: 50px;
  margin-right: 35px;
}

@media screen and (max-width: 1340px) {
  .options-main {
    flex-direction: column;
  }
  .options-main-1 {
    width: auto;
  }
  .service {
    width: 20vw;
  }
  .download {
    width: 20vw;
  }
  .prescription {
    width: 20vw;
  }
  .booking {
    width: 20vw;
  }
}

@media screen and (max-width: 1200px) {
  .options-main {
    flex-direction: column;
    /* margin-right: 5px; */
  }
  .sliderimg {
    height: 225px;
  }
  .silderimg-container {
    height: 225px;
  }
  .service {
    width: 20vw;
  }
  .download {
    width: 20vw;
  }
  .prescription {
    width: 20vw;
  }
  .booking {
    width: 20vw;
  }
}

@media screen and (max-width: 800px) {
  .sliderimg {
    height: 200px;
  }
  .navbar-main {
    margin-left: -15px;
    margin-right: -20x;
  }
  .dash-footer-main {
    margin-left: 20px;
  }
  .footer-image {
    /* margin-left: 35px; */
    width: 100vw;
  }
  .options-main {
    /* width: 100%; */
    margin-left: 5px;
    margin-right: 5px;
  }
  .banner-main {
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    padding-top: 80px;
  }
  .navbar-text {
    display: none;
  }
  .sliderimg {
    height: 225px;
  }
  
}
@media screen and (max-width: 800px) {
  .options-main-1 {
    flex-direction: column;
    margin-left: 8px;
    margin-right: 8px;
    width: auto;
  }
  .service {
    width: 84vw;
  }
  .download {
    width:84vw;
    
  }
  .prescription {
    width: 84vw;
  }
  .booking {
    width: 84vw;
  }
  .navbar-menu {
    /* display: none; */
    z-index: 3;
  }
  .navbar-supermain {
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: #fff;
  }
}
@media screen and (min-width: 800px) {
  .navbar-menu {
    display: none;
  }
}
.nav-void {
  display: none;
}
.navbar-supermain {
  display: flex;
  flex-direction: column;
}
.nav-collapse-main {
  /* position: fixed;
  z-index: 1;
  background-color: aqua;
  height: 100%;
  transition: 0.1s; */
  background-color: rgb(248, 248, 248);
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}
.nav-collapse-main.active {
  left: 0;
    transition: 350ms;
}
@media screen and (max-width: 590px){
  .service {
    width: 80vw;
    margin-left: 5px;
  }
  .download {
    width: 80vw;
    margin-left: 5px;
  }
  .prescription {
    width: 80vw;
    margin-left: 5px;
  }
  .booking {
    width: 80vw;
    margin-left: 5px;
  }
}
@media screen and (max-width: 480px){
  .service {
    width: 70vw;
    margin-left: 5px;
  }
  .download {
    width: 70vw;
    margin-left: 5px;
  }
  .prescription {
    width: 70vw;
    margin-left: 5px;
  }
  .booking {
    width: 70vw;
    margin-left: 5px;
  }
}
@media screen and (max-width: 350px){
  .service {
    width: 65vw;
  }
  .download {
    width: 65vw;
  }
  .prescription {
    width: 65vw;
  }
  .booking {
    width: 65vw;
  }
}