.new-booking-container {
  margin-left: 300px;
  margin-right: 35px;
  margin-top: 3vh;
}
.new-booking-top-container {
  width: max-content;
  display: flex;
  flex-direction: column;
}
.booking-top-container-title {
  font-size: 18px;
  font-weight: bold;
  color: rgb(9, 9, 9);
  height: 6vh;
}
.booking-top-container-content {
  font-weight: 600;
  color: rgb(28, 28, 28);
}
.new-booking-select {
  display: flex;
  flex-direction: column;
}
.new-booking-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.new-booking-top-bottom{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.new-booking-book-outer{
  width: 32%;
  /* float: right; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.new-booking-bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-booking-icon-container {
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 40%;
}
.new-booking-time {
  width: 60%;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rec-carousel-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  padding-top: 12px;
}
.new-booking-select-option {
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.new-booking-select-option > select {
  width: 100%;
  height: 5vh;
  border: 1.5px solid rgb(4, 64, 102);
  box-shadow: 0px 1px 5px rgb(0 0 0 / 0.2);
  border-radius: 8px;
  color: rgb(4, 64, 102);
  font-weight: 400;
  font-size: 16px;
  padding-left: 15px;
}
.new-booking-select-option > select:focus {
  border: 2px solid rgb(4, 64, 102);
}
.new-booking-select-option > select > option {
  border-radius: 12px;
  color: black;
}
.new-booking-date {
  width: 30.5%;
  display: flex;
  flex-direction: row-reverse;
  /* justify-content: flex-end; */
  /* align-items: flex-end; */
}
/* .new-booking-date>.react-datepicker-wrapper>.react-datepicker__input-container{
    width: 25%;
} */
.react-datepicker__header:not(.react-datepicker__header--has-time-select){
    width: 77px;
}
.new-booking-select-option.type{
  /* margin-left: -150px; */
}
.new-booking-date
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > input {
  width: 98%;
  height: 4.5vh;
  border: 1.5px solid rgb(4, 64, 102);
  box-shadow: 0px 1px 5px rgb(0 0 0 / 0.2);
  border-radius: 8px;
  color: rgb(4, 64, 102);
  font-weight: 400;
  font-size: 16px;
padding-left: 20px;
}
.new-booking-date
  > .react-datepicker-wrapper
  > .react-datepicker__input-container
  > input:focus {
  border: 2px solid rgb(4, 64, 102);
}
.new-booking-book {
  width: 196px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #044066;
  border-radius: 8px;
  height: 5.5vh;
  color: white;
  font-weight: 400;
  font-size: 14;
}
.new-time-div {
  padding: 15px 5px 15px 5px;
  margin: 2px;
  background-color: rgb(255, 237, 239);
  border: 1px solid rgb(245, 114, 118);
  border-radius: 8px;
}
.new-time-top {
  padding: 15px 5px 15px 5px;
  margin: 2px;
  background-color: #fff;
  border: 2px solid rgb(245, 114, 118);
  border-radius: 8px;
}
.new-booking-icon-container {
  width: 30%;
  height: 13vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(244, 251, 254);
  margin: 10px;
  border-radius: 12px;
}
.new-booking-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 40%;
  height: 70%;
  border-radius: 15px;
  border: 1px solid rgb(33, 169, 255);
  box-shadow: 0px 1px 5px rgb(0 0 0 / 0.1);
  transition: 850ms;
  cursor: pointer;
}
.new-booking-icon-inner {
  height: 40px;
  width: 40px;
  transition: 850ms;
  color: rgb(33, 169, 255);
}
.new-booking-icon.iconSelect {
  background-color: rgb(33, 169, 255);
  transition: 350ms;
}
.new-booking-icon-inner.iconSelect {
  color: #fff;
  transition: 350ms;
}
.rec.rec-arrow {
  background-color: rgb(245, 114, 118);
  transform: scale(0.7);
}
.rec-dot {
  display: none;
}

h1 {
  color: #000;
  font-family: sans-serif;
  font-size: 1.4em;
  margin-bottom: 0;
}


.booking-past-container{
    /* margin-top: 50px; */
    padding-top: 20px;
    padding-bottom: 20px;
}
table{
  border: separate;
  border-spacing: 0 15px;
  background-color: rgb(249,249,249);
}
thead{
  /* z-index: 30; */
  background-color: #fff;
}

.zigzag{
    margin-top: 6vh;
    box-shadow: 0px 1px 5px rgb(0 0 0 / 0.2);
    border-radius: 15px;
}
.zigzag > thead {
  background-color: rgb(243, 251, 254);

}
.zigzag > thead > tr {
  /* text-align: left; */
  /* padding-left: 10px; */
}
.zigzag > thead > tr > th {
  /* padding-left: 20px; */
  height: 6vh;
}
/* .header{
  height: 10vh;
} */
.header-inner {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin-left: 1vw;
}
.header-inner-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 2vw;
  color: rgb(33, 169, 255);
}
.zigzag > tbody {
  background-color: rgb(248, 248, 248);
  padding: 20px;
}
.zigzag > tbody > tr {
  height: 35px;
  background-color: #fff;
}
tbody > tr:hover {
  outline: 2px solid rgb(4, 64, 102);
}
/* tr {
  border-radius: 10px;
}
thead>tr:first-child {
  outline: none;
}

tr > td:first-child {
  border-top-left-radius: 10px;
}

tr > td:last-child {
  border-top-right-radius: 10px;
}
tr > td:first-child {
  border-bottom-left-radius: 10px;
}
tr > td:last-child {
  border-bottom-right-radius: 10px;
} */
td {
  /* padding: 20px; */
  /* padding-left: 15px; */
 /* text-align: left; */
 /* margin-left: 1vw; */
 padding-left: 1vw;
  height: 10px;
}
table {
  width: 100%;
  padding: 10px;
  color: black;
}
tbody>td{
    background-color: rgb(248, 248, 248);
}




.react-datepicker {
    background-color: rgb(33, 169, 255);
  }
  
  .react-datepicker__header {
    background-color: rgb(33, 169, 255);
    width: 100%;
  }
  .react-datepicker__month-container {
    /* width: 25vw; */
    /* padding: 10px; */
    background-color: rgb(244, 251, 254);
  }
  .react-datepicker__current-month {
    color: #044066;
    font-weight: bold;
    font-size: large;
    
  }
  .react-datepicker__day-name {
    color: #044066;
    font-weight: bold;
    font-size: 14px;
  }
  .react-datepicker__day {
    color: #044066;
    font-weight: bold;
    font-size: 13px;
  }
  .react-datepicker__navigation--previous {
    left: 15px;
  }
  .react-datepicker__navigation--next {
    right: 40px;
  }
  .react-datepicker__day--keyboard-selected {
    background-image: url("https://dentalforhome.s3.amazonaws.com/images/calendar1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .rec-slider-container{
    background-color: rgb(255, 237, 239);
    display: flex;
    flex-direction: row;
    width: 40vw;
    /* padding-left: 50px; */
  }
  h1{
    margin-bottom: -30px;
  }


  
  @media screen and (max-width: 1100px){
    .new-booking-time {
      margin-left: -30px;
      width: 70%;
    }
    .new-booking-icon-container{
      transform: scale(0.9);
      width: 40%;
    }
    .zigzag{
      margin-left: -20px;
    }
    .new-booking-top{

      margin-left: -20px;
    }
    .new-booking-top-bottom{

      margin-left: -40px;
    }
  }
  @media screen and (max-width: 1000px){
    .new-booking-top{
        flex-wrap: wrap;
        justify-content: space-evenly;
        /* max-width: 80%; */
    }
    .new-booking-select-option{
      flex: 1;
      margin: 10px;
      min-width: 24vw;
      max-width: 30vw;
    }
    .new-booking-date{
      flex: 1;
      margin: 10px;
      min-width: 21vw;
      max-width: 30vw;
    }
    .new-booking-book{
      flex: 1;
      margin: 10px;
      min-width: 21vw;
      max-width: 30vw;
    }
    .zigzag{
      margin-left: -70px;
      transform: scale(0.9);
    }
    .new-booking-time {
      transform: scale(0.9);
margin: 0;
      margin-left: -30px;
      width: 85vw;
    }
    .new-booking-icon-container{
      transform: scale(0.8);
      width: 40vw;
      margin-left: -20px;
    }
  }
  @media screen and (max-width: 920px){
    .new-booking-select{
      transform: scale(0.95);
      margin-right: -60px;
      margin-left: -40px;
        }
    .booking-upcoming-container{
      transform: scale(0.95);
      margin-left: -20px;
    }
    .booking-past-container{
      transform: scale(0.95);
      margin-left: -20px;
    }
  }
  @media screen and (max-width: 800px){
    h1{
      margin-bottom: -30px;
    }
    .new-booking-container{
      margin-left: 20px;
      margin-top: 0;
      /* margin-top: 50px; */
    }
    .new-booking-select{
      margin-top: 0;
      margin-right: 0px;
      margin-left: 0px;
      
        }
    .booking-upcoming-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
transform: scale(1);
      margin-left: 80px;
      /* width: 90vw; */
    }
    .booking-past-container{

      display: flex;
      flex-direction: column;
      justify-content: center;
transform: scale(1);
      margin-left: 80px;
    }
    .new-booking-top-container{
      padding-top: 80px;
    }
    .new-booking-select-option{
      flex: 1;
      margin: 10px;
      min-width: 42vw;
      /* max-width: 30vw; */
    }
    .new-booking-date{
      flex: 1;
      margin: 10px;
      min-width: 42vw;
      /* max-width: 40vw; */
    }
    .new-booking-book{
      flex: 1;
      margin: 10px;
      min-width: 42vw;
    }
    .new-booking-select{
      margin-right: -50px;
    }
    .new-booking-top-container{
      margin-left: 25;
    }
  }
  @media screen and (max-width: 700px){
    .table-none{
      display: none;
    }
    .zigzag{
      margin-right: -40px;
      width: 90vw;
    }
    h1{
      margin-left: -6vw;
      margin-bottom: -30px;
    }
  }
  @media screen and (max-width: 570px){
    .new-booking-top{
      flex-direction: column;
    }
    .new-booking-select-option{
      min-width: 90vw;
    }
    .new-booking-date{
      min-width: 90vw;
    }
    .new-booking-book{
      min-width: 90vw;
    }
    .new-booking-bottom{
      flex-direction: column;
    }
    .new-booking-time{
      width: 100vw;
    }
    .new-booking-icon-container{
      width: 100vw;
    }
  }
  @media screen and (max-width: 400px){
    .new-booking-time{
      width: 110vw;
    }
    h1{
      margin-left: -16vw;
    }
    .zigzag{
      margin-left: -19vw;
    }
  }
  .no-appointment{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: -50px;
  }
.booking-top-container-content.edit{
  margin-bottom: 20px;
}
  .ReactModal__Overlay--after-open{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .ReactModal__Content--after-open{
padding: 40px;
    height: 320px;
    width: 80vw;
  }
  .modal-container-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .booking-top-container-close{
    padding: 20px;
    cursor: pointer;
  }

  /* .modal-title{
    
  } */