.new-plan-container {
  margin-left: 300px;
  margin-right: 35px;
  /* overflow-x: hidden; */
  /* display: flex;
  flex-direction: column; */
}
.new-plan-container-inner {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: -25px;
}
.new-plan-card-container {
  height: 100%;
  width: 26vw;
  background-color: rgb(244, 251, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* margin-bottom: 20px; */
  border-radius: 15px;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
  color: rgb(55, 63, 66);
  transform: scale(0.9);
}
.new-plan-card-img-container {
  height: 100%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  /* margin-top: -100px; */
  margin-top: 50px;
  width: 30%;
  /* margin-left: 1vw; */
}
.new-plan-card-content {
  margin-left: 2vw;
  width: 80%;
  padding-bottom: 10px;
}
.new-plan-card-img {
  height: 80px;
  width: 80px;
  /* border-radius: 40px; */
  background-color: grey;
  border-radius: 10px;
}
.new-plan-card-content-bottom-label {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: 30px;
  align-items: center;
}
.new-plan-card-content-top {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.new-card-content-top-title {
  font-size: 24px;
  height: 45px;
  font-weight: 700;
}
.new-card-content-top-subtitle {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  font-size: 15px;
  font-weight: 400;
}
.new-plan-card-content-bottom-label > label {
  font-weight: bold;
}
.new-plan-card-content-bottom-label > p {
  margin-left: 20px;
}
.new-plan-top {
  font-size: 25px;
  font-weight: 600;
}
.new-card-content-top-subtitle > p {
  margin-left: 10px;
}

.offer-container {
  margin-left: -2vw;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.2);
  background-color: rgb(242, 241, 255);
  height: 100%;
  width: 26vw;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0.9);
}
.offer-top {
  font-size: 40px;
  height: 100px;
  font-weight: bold;
  color: rgb(122, 110, 253);
}
.offer-buy {
  /* padding: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  background-color: rgb(122, 110, 253);
  height: 40px;
  border-radius: 12px;
}
@media screen and (max-width: 1080px) {
  .new-plan-container-inner {
    transform: scale(0.95);
  }
  .new-plan-card-container {
    width: 35vw;
    /* margin-left: -6vw; */
  }
  /* .offer-container{
        width: 30vw;

    } */
}
@media screen and (max-width: 1000px) {
  .new-plan-container-inner {
    flex-direction: column;
    align-items: center;
  }
  .new-plan-card-container {
    width: 40vw;
    margin-left: 0;
    height: 210px;
    /* margin-left: -6vw; */
  }
  .offer-container {
    width: 44vw;
    margin: 0;
    padding: 0;
    /* margin-top: 55px; */
    height: 240px;
  }
}
@media screen and (max-width: 800px) {
  .new-plan-container-inner {
    flex-direction: row;
    align-items: center;
  }
  .new-plan-container {
    margin-left: 30px;
  }
  .new-plan-card-container {
    margin-top: 40px;
    width: 50vw;
  }
  .offer-container {
    margin-top: 40px;
    width: 45vw;
    padding-bottom: 10px;
  }
}
@media screen and (max-width: 580px) {
  .new-plan-container {
    margin-left: 25px;
  }
  .new-plan-card-container {
    transform: scale(0.9);
  }
  .offer-container {
    transform: scale(0.9);
  }
}
@media screen and (max-width: 580px) {
  .new-plan-container {
    margin-left: 10px;
  }
  .new-plan-container-inner {
    flex-direction: column;
    align-content: center;
    margin-right: -20px;
    /* margin-left: 10px; */
    /* width: 100%; */
  }
  .new-plan-card-container {
    /* transform: scale(0.8);
        width: 100%;
        margin-bottom: -25px;
        margin-top: 0;
        margin-left: 0; */
    transform: scale(0.8);
    width: 100vw;
    margin-left: 20px;
    margin-right: -20px;
    margin-top: -15px;
    margin-bottom: -20px;
  }
  .offer-container {
    transform: scale(0.8);
    width: 110vw;
    margin-left: 20px;
    margin-right: -20px;
    margin-top: -15px;
    margin-bottom: -20px;
  }
  .new-plan-card-content {
    margin-left: 20px;
  }
}
