.patient-container {
  margin-left: 300px;
}
.patient-bottom-container {
  display: flex;
  flex-direction: row;
}
.patient-container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.new-booking-select-option.patient {
  margin-right: 20px;
}
.patinet-card-title-head {
  margin-left: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #373f41;
  line-height: 28px;
  height: 10px;
}
.patinet-card-title-body {
  margin-left: 20px;
  font-weight: 400;
  font-size: 10px;
  color: hsl(190, 5%, 25%);
  line-height: 15px;
}
.patinet-card-data-head {
  margin-left: 20px;
  height: 0px;
  font-weight: 500;
  font-size: 8.7px;
  color: #272727;
  line-height: 5px;
}
.patinet-card-data-body {
  margin-left: 20px;
  font-weight: 500;
  font-size: 8px;
  color: #616161;
  line-height: 11.96px;
}
.patient-card-container {
  width: 166px;
  height: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0.641101598739624px 2.564406394958496px 0px #00000040;
  border-radius: 6.5px;
}
.patient-view-more {
  margin-left: 20px;
  height: 22px;
  width: 79px;
  background-color: #044066;
  color: white;
  font-size: 11.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.patinet-card-img {
  margin-left: 10px;
  height: 58px;
  width: 58px;
  border-radius: 40px;
  background-color: #000;
}
@media screen and (max-width: 800px) {
  .patient-container {
    margin-left: 20px;
  }
  .patient-container-card {
    justify-content: space-evenly;
  }
  .patient-bottom-container {
    margin-left: -30px;
  }
}
@media screen and (max-width: 570px) {
  .patient-bottom-container {
    flex-direction: column;
    margin-left: -20px;
  }
}
