.my-plan-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-left: 300px;
    margin-right: 35px;
    padding: 30px;
    background-color: rgb(248,248,248);
    border-radius: 10px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}
.plan-card {
    /* background-color: rgb(152,93,211); */
    
    border-radius: 10px;
    margin: -6px -6px -6px -6px;
    background-image: url('../images/card1.svg');
    background-size:  cover;
    background-repeat: no-repeat;
    width: 50%;
    height: 40%;
    padding: 10px;
    padding-bottom: 40px;
}
.plan-card-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.plan-card-name {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 50px; */
}

.plan-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 100px;
    background-color: rgb(212,172,232);
    margin-top: 3vh
    
    
}
.plan-card-upper {
    margin: 25px;
    transform: scale(1.1);
    /* background-color: rgb(152,93,211); */
}
.plan-card-image-inner {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    background-color: rgb(227,185,109);
}
.plan-card-lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: -3vh;
    padding: 15px;
    transform: scale(1.1);
}
.plan-card-detail-up {
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* justify-content: space-evenly; */
    /* margin-left: 2vw;
    margin-right: 4vw; */
}
.plan-card-detail-down {
    display: flex;
    flex-direction: column;
    margin: 5px;
    /* justify-content: space-evenly;
    margin-left: 1.5vw;
    margin-top: -3.5vh; */
    /* margin-right: 4vw; */
}
.plan-card-name-text {
    background-color: rgb(111,24,173);
    border-radius: 20px;
    color: white;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
}
.plan-card-name-id {
    margin-top: -10px;
    font-size: 13px;
    color: white;
}
.plan-card-offer {
    /* background-color: rgb(229,154,108); */
    /* height: */
    background-image: url('../images/offer.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 40%;
    border-radius: 10px;
    height: 290px;
    transform: scale(1.05);
    padding-bottom: 30px;
}
.family-plan-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10px;
    margin-left: 300px;
    margin-right: 35px;
    padding: 30px;
    background-color: rgb(248,248,248);
    border-radius: 10px;
    box-shadow: 0 3px 15px rgb(0 0 0 / 0.2);
}
@media screen and (max-width: 1230px) {

    .family-plan-card {
        flex-direction: column;
        align-items: center;
    }
    .plan-card  {
        width: 50vw;
        transform: scale(0.9);
    }
    .plan-card-lower {
        transform: scale(1);
    }
    .plan-card-offer {
        transform: scale(0.95);
        /* width: 6 0vw; */
    }
  }
  @media screen and (max-width: 1100px) {
    .my-plan-card  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .plan-card-offer  {
        width: 50vw;
    }
  }
  @media screen and (max-width: 1020px)  {
    .plan-card  {
        /* width: 50vw; */
        transform: scale(0.9);
    }
    .plan-card-offer {
        transform: scale(0.9);
    }
  }
  @media screen and (max-width: 800px) {

    .family-plan-card {
        margin-left: 5px;
        margin-right: 5px;
    }
    .plan-card  {
        width: 70vw;
        height: 38%;
        transform: scale(1);
    }
    /* .plan-card-detail-up {
        flex-direction: column;
        align-items: center;
    }
    .plan-card-detail-down {
        flex-direction: column;
        align-items: center;
    } */
    /* .plan-card-gender {
        margin-top: -1vh;
    }
    .plan-card-valid {
        margin-top: -1vh;
    } */
    .my-plan-card { 
        margin-left:5px ;
        margin-right: 5px;
    }
    .plan-card-offer  {
        margin-top: 5%;
        width: 80vw;
    }
  }
  @media screen and (max-width: 600px) {
    .plan-card {
        width: 90vw;
        transform: scale(0.8);
        margin-top: -5%;
        
    } 
    .plan-card-offer {
        margin-top: 1vh;
    }
    /* .plan-card-name-text{
        font-size: 12px;
        min-width: 55px;
        width: min-content;

  
    }
    .plan-card-name-id{
        margin-top: 1px;
        font-size: 7px;
    }
    .plan-card-image{
        height: 60px;
        width: 60px;
        margin-top: 2vh;
        margin-right: 2vw;
    }
    .plan-card-image-inner {
        height: 45px;
        width: 45px;
    }
    .plan-card-lower {
        font-size: 12px;
    } */
  }

  @media screen and (max-width: 500px) {


    .plan-card {
        width: 97vw;
        transform: scale(0.7);
        height: 32%;
        /* padding-bottom: 1vh; */
    } 
    .plan-card-offer {
        margin: -2vh;
        height:40vh;
    }

    /* .plan-card-name-text{
        font-size: 9px;
        right: 0px;
        min-width: 45px;
        width: min-content;

      
    }
    .plan-card-name-id{
        margin-top: 1px;
        font-size: 5px;
    }
    .plan-card-image{
        height: 50px;
        width: 50px;
        margin-top: 1.5vh;
        margin-right: 2vw;
    }
    .plan-card-image-inner {
        height: 35px;
        width: 35px;
    }
    .plan-card-lower {
        font-size: 10px;
        display: flex;
        flex-direction: flex-start;
    } */
  }
  @media screen and (max-width: 435px) {


    .plan-card {
        width: 132vw;
        transform: scale(0.65);
        margin-top: -8vh;
        height: 35%;
    } 
    .plan-card-offer {
        margin-top: -5vh;
        width: 95vw;
        height: 200px;
    }
  }
  @media screen and (max-width: 400px){
    .plan-card {
        height: 40%;
    }
    .plan-card-offer{
        height: 200px;
    }
  }