.service-main {
  margin-left: 300px;
  margin-right: 35px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.service-main-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* align-items: center; */
  /* justify-content: flex-start; */
  padding: 10px;
  /* margin-top: 30px; */
}
.service-title-top {
  display: flex;
  /* justify-content: center; */
  padding: 15px;
  font-size: 22px;
  font-weight: 600;
  /* border-bottom: 1px solid black; */
  width: max-content;
  margin-top: -10px;
}
.service-title-bottom {
  padding: 15px;
}

/* .smc */

.service-main-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.service-card-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 16vw;
  flex: 1;
  margin: 10px;
  width: 22%;
  min-width: 13vw;
  height: 250px;
  border-radius: 15px;
  box-shadow: 0px 1px 5px rgb(0 0 0 / 0.2);
}
.service-card-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin-top: 30px;
  
}
.service-card-text-inner{
  font-size: 20px;
  height: 5px;
  margin-top: -5px;
  padding-bottom: 10px;
  color: rgb(66, 74, 77);
}
@media only screen and (max-width: 1360px){
  .service-card-container{
    transform: scale(0.95);
    /* max-width: 15vw; */
    margin: 4px;
  }
}
@media only screen and (max-width: 1300px){
  .service-card-container{
    /* transform: scale(0.95); */
    max-width: 19vw;
    min-width: 15vw;
    margin: 4px;
  }
}
@media only screen and (max-width: 1110px){
  .service-card-container{
    transform: scale(0.90);
    /* max-width: 19vw; */
    min-width: 17.5vw;
    margin: 1px;
  }
}
@media only screen and (max-width: 980px){
  .service-card-container{
    transform: scale(0.85);
    max-width: 23vw;
    min-width: 21vw;
    margin: -8px;
  }
}
@media only screen and (max-width: 850px){
  .service-main-card{
    margin-left: -35px;
  }
  .service-card-container{
    transform: scale(0.85);
    max-width: 23vw;
    min-width: 21vw;
    margin: -9px;
  }
}

@media only screen and (max-width: 800px){
  .service-main-card{
    margin-left: 0px;
  }
  .service-main{
    margin-left: 35px;
  }
  .service-card-container{
    transform: scale(0.85);
    max-width: 30vw;
    min-width: 25vw;
    margin: -9px;
  }
}
@media only screen and (max-width: 740px){
 
  .service-card-container{
    transform: scale(0.8);
    max-width: 32vw;
    min-width: 31vw;
    margin: -10px;
  }
}
@media only screen and (max-width: 590px){
 
  .service-card-container{
    /* transform: scale(0.8); */
    max-width: 38vw;
    min-width: 31vw;
    margin: 0px;
    margin-top: -20px;
  }
}
@media only screen and (max-width: 590px){
 
  .service-card-container{
    /* transform: scale(0.8); */
    max-width: 44vw;
  
  }
}
@media only screen and (max-width: 440px){
 
  .service-card-container{
    transform: scale(0.75);
    min-width: 38vw;
margin-left: -20px;
margin-right: -20px;  
  max-width: 50vw;
  
  }
}