.navbar {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.nav-menu {
  background-color: rgb(248, 248, 248);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 2px 0px 2px 0px; */
  list-style: none;
  height: 52px;
}

.nav-text a {
  text-decoration: none;
  color: rgb(4, 64, 132);
  font-size: 15px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 4px;
}
.fade-1 {
  color: rgb(4, 64, 132);
}
.nav-text a:hover {
  background-color: rgb(146, 191, 241);
  /* color: white; */
}

/* .fade-1:hover{
  color: white;
} */

.nav-menu-items {
  margin-left: -40px;
  width: 100%;
}

.navbar-toggle {
  background-color: #060b26;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 25px;
}

.sidebar-profile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40vh;
  margin-right: 20px;
  color: rgb(4, 64, 132);
  padding-bottom: 25px;
}
.sidebar-dental {
  font-size: 22px;
}
.sidebar-profile-edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 39px;
  width: 153px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: white;
}

.profile-image {
  height: 105px;
  width: 105px;
  border-radius: 100px;
  background-color: rgb(213, 213, 213);
  display: flex;
  justify-content: center;
  box-shadow: 0 1px 5px rgb(0 0 0 / 0.6);
  /* margin-top: 25px; */
}
.profile-image-inner {
  height: 90px;
  width: 90px;
}

.sidebar-profile-edit {
  display: flex;
  flex-direction: row;
  background-color: rgb(4, 64, 132);
  padding: 0 15px 0 15px;
  border-radius: 5px;
}

.sidebar-profile-dental {
  font-weight: bold;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}
.sidebar-img {
  position: fixed;
  bottom: 0;
  height: 84px;
  width: 98px;
  margin: 1px 0 10px 82px;
  box-shadow: 0 0px 20px rgb(0 0 0 / 0.6);
  border-radius: 20px;
  z-index: 2;
}
@media screen and (max-width: 800px) {
  .nav-menu {
    display: none;
  }
  .sidebar-img {
    display: none;
  }
  .sidebar-profile {
    width: 100%;
  }
}
